<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      href="{{ url_for('static', filename='bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='main.css') }}"
      rel="stylesheet"
    />
    <script
      src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"
    ></script>
  </head>
  <body class="p-sm-5 p-2">
    <div class="m-sm-5 m-3">
      <h1>Humanities Methods in Librarianship</h1>
    </div>
    <div class="mx-sm-5 mx-2 bg-body-secondary rounded-3">
      <div class="container-fluid p-sm-5 p-3">
        <h2>The journal will be launching in the coming months!</h2>
        <p>We will soon be seeking editors and peer reviewers to join our talented editorial team. Please see the masthead below to get a sense of what roles we are looking to fill. If you are interested in becoming an editor or a peer reviewer, please check back here for further updates!</p>
      </div>
    </div>
    <div class="container-fluid px-sm-5 px-1 py-sm-3">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="rounded-3 p-sm-5 p-3">
            <h2>Journal scope</h2>
						<p>Humanities Methods in Librarianship is a no-fee open access journal that publishes high quality, peer-reviewed research with an emphasis on articles that push the boundaries—both thematically and formally—of what has been traditionally viewed as scholarship within the discipline. The journal aims to broaden the conversation by encouraging submissions that deploy methods from the humanities to address current or salient issues in the library profession. Humanistic methodological approaches may be used to address a wide range of topics within librarianship, so we encourage creative approaches and a diversity of submissions.</p>
            <p>Submission types may include but are not limited to:</p>
            <ul>
              <li>Conceptual, philosophical, or theoretical discussions</li>
              <li>Literary, critical, or textual analyses of major (or minor) works within the literature</li>
              <li>Historical analyses and histories of the profession</li>
              <li>Personal narratives and autoethnography</li>
              <li>Creative non-fiction</li>
              <li>Interviews or oral histories</li>
            </ul>
						<p>We aim to publish original work, but the journal will consider papers that have been presented at conferences.  We won’t accept work that has been submitted to other journals or is under review for publication elsewhere.</p>
						<p>Authors are welcome to reach out to the editors to share a synopsis or an abstract in advance of submission to determine if their topic is within scope.</p>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="rounded-3 px-sm-5 pt-lg-5 p-3">
            <h2>Editorial board</h2>
            <p>
						<em>Editor in chief:</em> <a href="https://www.kbcc.cuny.edu/facultyprofiles/markeaton.html">Mark Eaton</a>, CUNY</br>
						<em>Managing editor:</em> <a href="https://commons.gc.cuny.edu/members/cmjedlicka/">Caroline Jedlicka</a>, CUNY</br>
              <em>Web editor:</em> tbd</br>
            </p>
            <p>
              <em>Art editor:</em> tbd</br>
              <em>Book review editor:</em> tbd</br>
              <em>Creative writing editor:</em> Julie Turley, CUNY</br>
              <em>Cultural studies editor:</em> tbd</br>
							<em>History editor:</em> <a href="https://commons.gc.cuny.edu/members/mkirby1/">Michael Kirby</a>, CUNY</br>
              <em>Literature editor:</em> tbd</br>
							<em>Philosophy and politics editor:</em> <a href="https://commons.gc.cuny.edu/members/mkirby1/">Michael Kirby</a>, CUNY</br>
							<em>Religion editor:</em> <a href="https://www.kbcc.cuny.edu/facultyprofiles/markeaton.html">Mark Eaton</a>, CUNY</br>
            </p>
            <p>
              <em>Contributing editor:</em> tbd</br>
              <em>Contributing editor:</em> tbd</br>
              <em>Official advisor:</em> tbd</br>
            </p>
          </div>
        </div>
        <div class="col-12">
          <div class="rounded-3 px-sm-5 p-3">
            <h2>Journal Information</h2>
            <div class="d-md-flex align-items-start">
              <div class="nav flex-md-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="mt-3 nav-link mx-auto blue-nav active" id="v-pills-submission-tab" data-bs-toggle="pill" data-bs-target="#v-pills-submission" type="button" role="tab" aria-controls="v-pills-submission" aria-selected="true">Submission Types & Review Process</button>
                <button class="mt-3 nav-link mx-auto blue-nav" id="v-pills-copyright-tab" data-bs-toggle="pill" data-bs-target="#v-pills-copyright" type="button" role="tab" aria-controls="v-pills-copyright" aria-selected="false">Copyright & Licensing</button>
								<!-- <button class="mt-3 nav-link mx-auto blue-nav" id="v-pills-review-tab" data-bs-toggle="pill" data-bs-target="#v-pills-review" type="button" role="tab" aria-controls="v-pills-review" aria-selected="false">Review Process</button> -->
								<!--<button class="mt-3 nav-link mx-auto blue-nav" id="v-pills-ai-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ai" type="button" role="tab" aria-controls="v-pills-ai" aria-selected="false">AI Policy</button>-->
                <button class="mt-3 nav-link mx-auto blue-nav" id="v-pills-namechange-tab" data-bs-toggle="pill" data-bs-target="#v-pills-namechange" type="button" role="tab" aria-controls="v-pills-namechange" aria-selected="false">Name Change Policy</button>
                <button class="mt-3 nav-link mx-auto blue-nav" id="v-pills-retractions-tab" data-bs-toggle="pill" data-bs-target="#v-pills-retractions" type="button" role="tab" aria-controls="v-pills-retractions" aria-selected="false">Retractions</button>
              </div>
              <div class="tab-content mt-3 ms-md-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-submission" role="tabpanel" aria-labelledby="v-pills-submission-tab">
									<p>All submissions will undergo initial review by the Editorial Board (EB) who collectively vote on whether they will be sent to review. Submissions that fall outside of the journal’s scope may be rejected. Based on the type of work, submissions going to review will then proceed to the corresponding review process.</p>
                  <p><em>Research articles review process</em>:
                    <ul>
											<li>Authors should aim for a text that is 3,000-8,000 words in length, although exceptions will be considered</li>
											<li>Authors should submit an abstract of 150-200 words</li>
											<li>Submissions will undergo one round of open review by a member of the EB (i.e., the identities of the author and EB member will be known to each other)</li> 
											<li>A second round of anonymous peer review by an outside reviewer</li>
                    </ul>
                  </p>
                  <p><em>Creative works review process</em>:
                    <ul>
											<li>Creative works should be a maximum of 5,000 words in length, although exceptions will be considered</li>
											<li>Submissions will undergo review by the Creative Writing Editor or another member of EB</li>
                    </ul>
                  </p>
                  <p><em>Book reviews review process</em>:
                    <ul>
											<li>Maximum 1,500 words in length</li>
											<li>Submissions will undergo review by Book Review Editor</li>
                    </ul>
                  </p>
                  <p>
									Reviewers will generally make recommendations to authors to improve their submissions. Authors whose papers receive a positive review will be given the opportunity to make revisions and to respond to reviewer feedback. Decisions/review feedback will be communicated to authors by the Managing Editor or Editor in Chief.</p>
                  <p><em>Outcomes of review</em>:
                    <ul>
                      <li>Accepted</li>
                      <li>Accepted with minimal revisions</li>
                      <li>Major revisions</li>
                      <li>Revise and resubmit</li>
                      <li>Reject</li>
                    </ul>
                  </p>
                  <p>The Editorial Board will make the final decision whether to publish the submission.</p>
                </div>
                <div class="tab-pane fade" id="v-pills-copyright" role="tabpanel" aria-labelledby="v-pills-copyright-tab">
									<p><em>Adapted from the <a href="https://dc.etsu.edu/jgl/">Journal of Graduate Librarianship</a></em></p>
									<p>Articles, creative works, and book reviews published in Humanities Methods in Librarianship will be licensed with a <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)</a>. Authors may request to have their work licensed using another CC license if they prefer.</p>
									<p>Other materials from the Humanities Methods in Librarianship website are licensed under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC BY 4.0)</a></p>
                  <p>Authors retain all copyrights to their works but grant Humanities Methods in Librarianship first publication rights to works accepted for publication.</p>
                </div>
                <!-- <div class="tab-pane fade" id="v-pills-review" role="tabpanel" aria-labelledby="v-pills-review-tab">
								</div> -->
                <!--<div class="tab-pane fade" id="v-pills-ai" role="tabpanel" aria-labelledby="v-pills-ai-tab">
                  <p>As per the COPE guidelines, AI tools cannot meet the requirements for authorship as they cannot take responsibility for the submitted work. As non-legal entities, they cannot assert the presence or absence of conflicts of interest nor manage copyright and license agreements.</p>
                  <p>Authors who use AI tools in the writing of a manuscript, production of images or graphical elements of the paper, or in the collection and analysis of data, must be transparent in disclosing in the Materials and Methods (or similar section) of the paper how the AI tool was used and which tool was used. Authors are fully responsible for the content of their manuscript, even those parts produced by an AI tool, and are thus liable for any breach of publication ethics.</p>
								</div>-->
                <div class="tab-pane fade" id="v-pills-namechange" role="tabpanel" aria-labelledby="v-pills-namechange-tab">
									<p><em>Adapted from the <a href="https://www.iastatedigitalpress.com/jlsc/">Journal of Librarianship and Scholarly Communication</a></em></p>
									<p>As part of our commitment to authors and the research community, HML will honor name and pronoun change requests from our authors. This includes, but is not limited to, name changes because of marriage, divorce, gender affirmation, and religious conversion. HML will not require any form of proof or supporting documentation beyond what is needed to confirm the author’s identity and will only note that a non-substantive change was made to the published article.</p>
									<p>HML can only make changes to the article (including all of its formats on the HML website) and journal webpage. HML cannot make updates to copies that have already been downloaded, nor can we make changes in indexes/databases that have picked up the original metadata, nor are we able to update citations to articles in which a name change has occurred. HML will not notify co-authors of the change to the article; authors may choose whether or not they wish to alert their co-authors.</p>
									<p>Any misuse of this policy will be considered misconduct, and HML reserves the right to investigate and act against misuse.</p>
									<p>How to request a name change: Authors who wish to change their name on any work previously published in HML are asked to fill out <a href="">this form</a>.</p>
                </div>
              <div class="tab-pane fade" id="v-pills-retractions" role="tabpanel" aria-labelledby="v-pills-retractions-tab">
								<p><em>Adapted from the <a href="https://dc.etsu.edu/jgl/">Journal of Graduate Librarianship</a></em></p>
                <p><em>Correction</em>: Despite the best of efforts, errors occur, and their timely and effective remedy are considered the mark of responsible authors and editors. HML will issue a correction if the scholarly record is seriously affected by errors in a work (e.g., if accuracy/intended meaning, author reputation, or journal reputation is judged to be compromised). HML will not issue a correction for errors that do not affect the work in a material way or significantly alter the reader’s understanding of the work (e.g., misspellings, grammatical errors); the pre-publication review of article proofs is the final opportunity to correct such errors. When a correction is issued, it will link to the published article and also be added to the published article. All corrections will be as concise as possible.</p>
                <p><em>Retraction</em>: HML reserves the right to retract articles, with a retraction defined as a public disavowal, not an erasure or removal. A retraction will occur if the editors and editorial board find that the integrity of the article is undermined due to errors or infringements of research ethics. Retractions could also occur due to undisclosed conflicts of interest or compromised peer review. </p>
                <p><em>Removal</em>: Some circumstances may necessitate removal of an article from HML. This will occur when the article is judged by the editors and editorial board to be defamatory, if it infringes on legal rights, or if there is a reasonable expectation that it will be subject to a court order. The bibliographic information about the article will be retained online, but the article will no longer be available through HML. A note will be added to indicate that the item was removed for legal reasons.</p>
              </div>
            </div>
            <div class="bottom-spacer"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
